body.home {

	section.hero {
		height: 100vh;
		
		// iPhone 8 Portrait
		@media only screen 
		and (min-device-width : 375px) 
		and (max-device-width : 667px) 
		and (orientation : portrait) {
			height: 850px;
		}

		// iPhone 8 Landscape
		@media only screen 
		and (min-device-width : 375px) 
		and (max-device-width : 667px) 
		and (orientation : landscape) {
			height: 700px;
		}

		@media only screen 
		and (min-device-width : 768px) 
		and (max-device-width : 1024px) 
		and (orientation : portrait) {
			height: 70vh;
		}

		@media only screen 
		and (min-device-width : 375px) 
		and (max-device-width : 812px) 
		and (-webkit-device-pixel-ratio : 3)
		and (orientation : landscape) {
			height: 700px;

		}

		.hero-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.content {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.logo {
			padding: 20px 0;

			@include tablet-portrait {
				padding: 40px 0;
			}

			img {
				width: 100%;
				max-width: 180px;
			}
		}

		.info {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.status-box {
			background: rgba(255, 255, 255, 0.9);
			text-align: center;
			flex: 1;
			padding: 5px;

		}

		.box-wrapper {
			padding: 50px;
			border: 1px solid $slate;

			@include tablet-landscape {
				padding: 50px 100px;
			}
		}

		.status {
			margin-top: auto;

			.wrapper {
				max-width: 680px;
			}

			.headline {
				padding-bottom: 25px;

				h1 {
					color: $blue;
					font-size: 3rem;
					letter-spacing: -0.025em;

					@include tablet-portrait {
						font-size: 3.75rem;
					}

					@include tablet-landscape {
						font-size: 4.5rem;
					}
				}
			}

			.copy {
				p {
					font-size: 1.25rem;
					line-height: 1.5em;
					font-family: $utopia;

					@include tablet-portrait {
						font-size: 1.5rem;
					}

					@include tablet-landscape {
						font-size: 1.875rem;
					}


					& + p {
						padding-top: 20px;

						@include tablet-landscape {
							padding-top: 32px;
						}
					}
				}

				a {
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}

		.contact {
			margin-top: auto;
			padding-bottom: 40px;
		}


		.contact-box {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			color: $white;
			background: rgba(54, 107, 133, 0.9);
			border: 2px solid $white;

			a {
				color: $white;

				&:hover {
					text-decoration: underline;
				}
			}



			.detail {
				padding: 20px;
				text-align: center;

				p {
					line-height: 1.125em;	
				}
			}

			.address {
				width: 100%;
				border-bottom: 2px solid $white;
				order: 1;

				@include mobile-landscape {
					br {
						display: none;
					}

					p {
						font-size: 0.875rem;
						padding: 0 0 3px 0;
					}
				}

				@include tablet-portrait {
					width: 70%;

					p {
						font-size: 1rem;
						padding: 0;
					}
				}

				@include tablet-landscape {
					width: 100%;
				}

				@include desktop {
					width: 40%;
					border-bottom: none;
				}
			}

			.phone {
				width: 50%;
				order: 3;

				@include tablet-portrait {
					width: 30%;
					order: 2;
					border-bottom: 2px solid $white;
					border-left: 2px solid $white;
				}

				@include tablet-landscape {
					width: 33.3333%;
					border-bottom: none;
				}

				@include desktop {
					width: 15%;
				}
			}

			.email {
				width: 100%;
				border-bottom: 2px solid $white;
				order: 2;

				@include tablet-portrait {
					width: 50%;
					border-bottom: none;
					order: 3;
				}

				@include tablet-landscape {
					width: 33.3333%;
					border-left: 2px solid $white;
				}

				@include desktop {
					width: 30%;
				}
			}

			.social {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50%;
				border-left: 2px solid $white;
				order: 4;

				@include tablet-landscape {
					width: 33.3333%;
				}

				@include desktop {
					width: 15%;
				}

				a {
					display: block;

					& + a {
						margin-left: 40px;
					}

					img {
						width: 100%;
						height: 100%;
						max-width: 30px;
						max-height: 24px;
					}
				}
			}

		}
	}


}