/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2D2A32;

$blue: #366B85;

/* Typography
----------------------------------*/
@import url("https://use.typekit.net/rji6kbp.css");

$utopia: utopia-std, serif;
$synthese: synthese, sans-serif;
